<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="bname" value="ff"></parameter>
    <classes>
          <class name="in.jsoft.newtours.testscripts.AllTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
